.structure-entry-content {
  position: relative;
}

.structure-table-fieldset {
  width: 8rem;
}

.structure-table-fieldset a {
  font-size: 12px;
  text-transform: uppercase;
  color: #B3B3B3;
}

.builder-entries{
  margin-bottom: 1em
}

.builder-entries-editing .builder-entry{
  opacity: .3;
  pointer-events: none;
  transition: opacity .3s;
}

.builder-entries-editing .builder-entry-editing{
  opacity: 1;
  pointer-events: all;
}

.builder-entry-fieldset-name {
  font-size: 12px;
  border-radius: 15px;
  height: 30px;
  line-height: 30px;
  padding: 0 15px;
  color: #000000;
  background: white;
  position: absolute;
  right: 15px;
  top: 15px;
  text-align: center;
  border: 1px solid #dddddd;
}

.builder-entry-options.hidden{
  display: none;
}

.builder-drop-down{
  position: absolute;
  width: 100%;
  top: 0;
  text-align: right;
  z-index: 100;
}
.builder-drop-down ul{
  background-color: #000;
  list-style: none;
  position: absolute;
  top: 100%;
  right: 0;
  text-align: left;x
  z-index: 100;
  display: none;
  margin-top: 25px;
}
.builder-drop-down.active ul{
  display: block;
}
.builder-drop-down .drop-down-toggle{
  position: relative;
}
.builder-drop-down ul li{
  border-top: 1px solid #202020;
}
.builder-drop-down ul li:first-child{
  border-top: none;
}
.builder-drop-down ul li a{
  color: #FFF;
  padding: .75em 1.5em;
  display: block;
  line-height: 1em;
}
.builder-drop-down ul li a:hover{
  background-color: #202020;
}
.builder-add-container{
  margin-bottom: 0;
  margin-bottom: 1em;
}
.builder-add-buttons{
  text-align: center;
}
.builder-add-buttons .btn{
  margin-left: .25em;
  margin-right: .25em;
  margin-bottom: .5em;
}

.builder-add-buttons .btn .icon{
  transform: translateY(1px);
}
@media screen and (min-width: 30em){
  .modal-content-extralarge {
    width: 90%;
    max-width: 55em;
  }
}
.builder-entry-quickform-container.hidden{
  display: none;
}
.builder-entry-content {
  padding: 0;
}
.builder-entry-content.hidden{
  display: none;
}
.quickform-container{
  position: relative;    
  padding: 1em 1.5em;
}
.mainbar .quickform .buttons{
  position: initial!important;
  background: none;
}
// .mainbar .quickform{
//   padding: 1em 1.5em;
// }
.mainbar .quickform form{
  padding: 1em 1.5em;
}

input[disabled]{
  opacity: .3;
  pointer-events: none;
}

.blocked-by-builder{
  opacity: .3;
  pointer-events: none;
}



